@import '../../components/marker/marker.component.scss';

.fill-space {
  flex: 1 1 auto;
}

.availableLabels {
    width: 300px;
    float: left;

    h2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    mat-divider {
        width: 280px;
    }

    mat-selection-list {
        width: 260px;
    }

    .generate-button {
        text-align:center;
        margin-top: 10px;
    }
}

app-scan-viewer {
    position: absolute;
}

.validation-page {
    margin: 10px auto;
}

.canvasInterface {
    position: relative;
    margin: 0 auto;
    width: $canvas-size + 300px + 50px;
}

.button-row {
    text-align: center;

    button {
        position: relative;
        top: $canvas-size;
        margin: 1%;
    }
}
