<div class="validation-page">
   <div class="innerElement canvasInterface">
        <div class="availableLabels">
            <h2>Details</h2>
            <p>
                <strong>Agreement ratio:</strong> {{agreement_ratio | number : '1.2-2'}}%<br/>
                <strong>Labels used:</strong> {{labels_used}} out of {{labels_total}}<br/>
                <strong>Mean labeling time:</strong> ?? seconds
            </p>
            <mat-divider></mat-divider>

            <h2>Available Labels</h2>
            <mat-list>
                <mat-list-item *ngFor="let label of labels_similarities">
                    <mat-checkbox [(ngModel)]="label['used_for_generation']">
                        Label (<span matTooltip="Similarity ratio" matTooltipPosition="above">{{ label['similarity'] | number : '1.2-2' }}%</span>)
                    </mat-checkbox>
                    <span class="fill-space"></span>
                    <button mat-icon-button matTooltip="Show Label" matTooltipPosition="above"><mat-icon>search</mat-icon></button>
                </mat-list-item>
            </mat-list>
            <section class="generate-button">
                <button mat-raised-button color="primary" (click)="requestValidationData()" [disabled]="!isAtLeastOneLabelSelected()">Generate preview</button>
            </section>
        </div>
        <app-scan-viewer #scanViewer></app-scan-viewer>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="markAsValid()">OK</button>
            <button mat-raised-button color="warn" (click)="markAsInvalid()">All Invalid</button>
        </div>
    </div>
</div>

